@media (max-width: 1024px) {
    /*  */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
    }
    .subtitle {
        text-align: center;
        font-family: 'Roboto';
        padding: 1rem 0;
        font-size: 2rem;
    }
    .divpadre {
        display: flex;
        row-gap: 2rem;
        justify-content: space-around;
        align-items: center;
    }
    .encuadro {
        text-align: center;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(174, 182, 191);
        text-decoration: none;
        border: none;
    }
    .encuadro img {
        height: 300px;
        width: 450px;
    }
    .encuadro:hover {
        box-shadow: none;
        display: block;
        transform: none;
    }
    .genero {
        justify-content: space-between;
    }
    
    .logoFooter, .navFooter {
        justify-content: space-around;
    }
    .img__genero {
        height: 200px;
        width: 980px;
    }
}

@media (max-width: 768px) {
    /* HEADER */
    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: absolute;
        top: 80px;
        bottom: 0;
        background-color: rgb(0,0,0);
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 1s ease-in-out;
    }
    .nav__item::after {
        background: rgb(0,0,0);
        clip-path: none;
        transition: none;
    }
    .nav__item {
        padding: 40px 0;
        padding-right: 30px;
        font-weight: bold;
        font-size: 900;
        --clippy: none;
    } 
    .nav__input:checked + .nav__menu {
        clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%)
    }
    .nav__item__li {
        color: rgb(23, 165, 137);
        background-color: rgb(0,0,0);
        text-decoration: none;
        list-style-type: none;
        font-family: 'Roboto';
        padding: 40px 0;
        padding-right: 30px;
        font-weight: bold;
        font-size: 900;
    }
    header ul ul {
        display: block;
    }
    /* FOOTER */
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "logoF logoF"
        "navF navF"
        "sectionF sectionF"
        ;
        background-color: rgb(0,0,0);
    }
    .logoFooter {
        justify-content: center;
        
    }
    .navFooter {
        justify-content: center;
    }
    .listaFooter {
        justify-content: space-around;
    }
    .enlaceFooter {
        font-size: 15px;
    }
    .parrafoFooter {
        font-size: 10px;
    }
    .img__wsp {
        height: 20px;
        width: 20px;
    }
    .img__ig {
        height: 35px;
        width: 35px;
    }
    /* CUERPO INDEX */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
    }
    .subtitle {
        text-align: center;
        font-family: 'Roboto';
        padding: 1rem 0;
        font-size: 2rem;
    }
    .divpadre {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: space-around;
        align-items: center;
    }
    .encuadro {
        text-align: center;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(174, 182, 191);
        text-decoration: none;
        border: none;
    }
    .encuadro img {
        height: 200px;
        width: 350px;
    }
    .encuadro:hover {
        box-shadow: none;
        display: block;
        transform: none;
    }
    .genero {
        justify-content: space-between;
    }
    .img__genero {
        height: 200px;
        width: 728px;
    }
}

@media only screen and (max-width: 480px) {
    /* HEADER */
    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: absolute;
        top: 80px;
        bottom: 0;
        background-color: rgb(0,0,0);
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 1s ease-in-out;
    }
    .nav__item::after {
        background: rgb(0,0,0);
        clip-path: none;
        transition: none;
    }
    .nav__item {
        padding: 40px 0;
        padding-right: 30px;
        font-weight: bold;
        font-size: 900;
        --clippy: none;
    } 
    .nav__input:checked + .nav__menu {
        clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%)
    }
    .nav__item__li {
        color: rgb(23, 165, 137);
        background-color: rgb(0,0,0);
        text-decoration: none;
        list-style-type: none;
        font-family: 'Roboto';
        padding: 40px 0;
        padding-right: 30px;
        font-weight: bold;
        font-size: 900;
    }
    header ul ul {
        display: block;
    }
    /* FOOTER */
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "logoF logoF"
        "navF navF"
        "sectionF sectionF"
        ;
        background-color: rgb(0,0,0);
    }
    .logoFooter {
        align-items: center;
        padding-left: 3rem;
    }
    .navFooter {
        justify-content: center;
    }
    .listaFooter {
        justify-content: space-around;
    }
    .enlaceFooter {
        font-size: 15px;
    }
    .parrafoFooter {
        font-size: 10px;
    }
    .img__wsp {
        height: 20px;
        width: 20px;
    }
    .img__ig {
        height: 35px;
        width: 35px;
    }
    /* CUERPO INDEX */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
    }
    .subtitle {
        text-align: center;
        font-family: 'Roboto';
        padding: 1rem 0;
        font-size: 2rem;
    }
    .divpadre {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: space-around;
        align-items: center;
    }
    .encuadro {
        text-align: center;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(174, 182, 191);
        text-decoration: none;
        border: none;
    }
    .encuadro img {
        height: 200px;
        width: 350px;
    }
    .encuadro:hover {
        box-shadow: none;
        display: block;
        transform: none;
    }
    .genero {
        display: flex;
        justify-content: space-around;
    }
    .img__genero {
        height: 150px;
        width: 440px;
    }
    /* PAGINA - PRODUCTOS */
    .espacio {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "tienda"
        "tienda"
        "filtro"
        ;
        margin: 30px;
    }
    .subtitulo {
        text-align: center;
    }
    .filtro__color {
        width: 400px;
    }
    .filtro__talle {
        display: flex;
        justify-content: space-around;
    }
}