@media (max-width: 1399.98px) {    
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        .subtitle {
            text-align: center;
            font-family: 'Roboto';
            padding: 1rem 0;
            font-size: 2rem;
        }
        .divpadre {
            display: flex;
            flex-direction: row;
            row-gap: 2rem;
            justify-content: space-around;
            align-items: center;
            .encuadro {
                text-align: center;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 30px;
                background-color: rgb(174, 182, 191);
                text-decoration: none;
                border: none;
                &:hover {
                    box-shadow: none;
                    display: block;
                    transform: none;
                }
                figure{
                    border-radius: 5px;
                    height: 250px;
                    width: 400px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: all .25s ease;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                p {
                    &:hover{
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
    }
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
}
@media (max-width: 1199.98px) {
    /* CUERPO INDEX */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        .subtitle {
            text-align: center;
            font-family: 'Roboto';
            padding: 1rem 0;
            font-size: 2rem;
        }
        .divpadre {
            display: flex;
            row-gap: 2rem;
            justify-content: space-around;
            align-items: center;
            .encuadro {
                text-align: center;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 30px;
                background-color: rgb(174, 182, 191);
                text-decoration: none;
                border: none;
                figure{
                    border-radius: 5px;
                    height: 250px;
                    width: 400px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: all .25s ease;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                p {
                    &:hover{
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
    }
    .genero {
        display: flex;
        justify-content: space-around;
        .generoHijo{
            width: 100%;
            height: 100%;
            .img__genero {
                height: 90px;
                width: 100%;
            }
        }
    }
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
}
@media (max-width: 991.98px) {
    /* CUERPO INDEX */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        .subtitle {
            text-align: center;
            font-family: 'Roboto';
            padding: 1rem 0;
            font-size: 2rem;
        }
        .divpadre {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            justify-content: space-around;
            align-items: center;
            .encuadro {
                text-align: center;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 30px;
                background-color: rgb(174, 182, 191);
                text-decoration: none;
                border: none;
                figure {
                    transition: none;
                    img {
                        height: 100%;
                        width: 100%;
                        &:hover {
                            transform: none;
                        }
                    }
                }
            }
        }
        .genero {
            display: flex;
            justify-content: space-around;
            .generoHijo{
                width: 100%;
                height: 100%;
                .img__genero {
                    height: 70px;
                    width: 100%;
                }
            }
        }
    }
    .espacio {
        .filtro {
            .separador {
                .subtitulo {
                    text-align: center;
                }
                .filtro__color {
                    width: 100%;
                }
                .filtro__talle {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
    .img-c{
        width: 80% !important;
        height: 400px !important;
        padding: 0 10%;
        margin: 20px 20%; 
    }
}
@media (max-width: 767.98px) {
    .cuerpoPadre {
        .genero {
            .generoHijo{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .img__genero {
                    height: 75px;
                    width: 100%;
                }
            }
        }
    }
    .w-100 {
        padding: 0 10%;
        width: 30% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
    /* PAGINA - PRODUCTOS */
    .espacio {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "filtro tienda"
        "filtro tienda"
        "filtro tienda"
        ;
        flex-direction: row;
        margin: 0 0  30px 0;
        .tienda {
            margin-top: 30px;
            .cotitulo {
                font-size: 25px;
            }
        }
        .filtros {
            justify-content: left;
            padding-top: 0;
            color: rgb(255, 255, 255);
            .filtro__hijo {
                position: absolute;
                background-color: rgb(0, 0, 0);
                top: 100px;
                bottom: 0;
                width: 100%;
                left: 0;
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
                transition: clip-path 1s ease-in-out;
                .separador {
                    .style {
                        color: rgb(255, 255, 255);
                        text-align: left;
                    }
                    .subtitulo {
                        text-align: left;
                    }
                    .filtro__color {
                        width: 100px;
                    }
                    .filtro__talle {
                        display: flex;
                        justify-content: space-around;
                    }
                }
                div {
                    .subtitulo {
                        text-align: left;
                    }
                }
            }
            .filtro__Despl {
                display: block;
                cursor: pointer;
            }

            .filtro__DesplAct:checked + .filtro__hijo{
                clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
            }
        }
    }
    /*PAGINA CONTACTO*/
    .fondo {
        padding: 0 25px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .contenedor{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;
                    .largo{
                        width: 80%;
                    }
                }
            }
        }
    }
    .cuerpo__nombre {
        .nombre {
            font-size: 35px;
        }
    }
    .img-c{
        width: 100% !important;
        height: 400px !important;
        padding: 0 10%;
        margin: 20px 15%; 
    }
}
@media (max-width: 575.98px) {
    .espacio {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "filtro tienda"
        "filtro tienda"
        "filtro tienda"
        ;
        flex-direction: row;
        margin: 0 0  30px 0;
        .tienda {
            .cotitulo {
                font-size: 25px;
                padding-left: 20%;
                justify-content: start;
            }
            .tiendaCuerpo {
                justify-content: start;
            }
        }
        .filtros {
            justify-content: left;
            padding-top: 0;
            color: rgb(255, 255, 255);
            .filtro__hijo {
                position: absolute;
                background-color: rgb(0, 0, 0);
                top: 100px;
                bottom: 0;
                width: 100%;
                left: 0;
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
                transition: clip-path 1s ease-in-out;
                .separador {
                    .style {
                        color: rgb(255, 255, 255);
                        text-align: left;
                    }
                    .subtitulo {
                        text-align: left;
                        font-size: large;
                    }
                    .filtro__color {
                        width: 100px;
                    }
                    .filtro__talle {
                        display: flex;
                        justify-content: space-around;
                    }
                }
                div {
                    .subtitulo {
                        text-align: left;
                    }
                }
            }
            .filtro__Despl {
                display: block;
                cursor: pointer;
            }

            .filtro__DesplAct:checked + .filtro__hijo{
                clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
            }
        }
    }
    /*PAGINA CONTACTO*/
    .fondo {
        padding: 0 25px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .contenedor{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;
                    .largo{
                        width: 80%;
                    }
                }
            }
        }
    }
    /* Paginas de zapatillas */
    .cuerpo__nombre {
        .nombre {
            font-size: 25px;
        }
    }
    .img-c{
        width: 100% !important;
        height: 400px !important;
        padding: 0 10%;
        margin: 20px 15%; 
    }
}