//@media (max-width: 1024px) 
@media (max-width: 1399.98px) {    
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        .subtitle {
            text-align: center;
            font-family: 'Roboto';
            padding: 1rem 0;
            font-size: 2rem;
        }
        .divpadre {
            display: flex;
            flex-direction: row;
            row-gap: 2rem;
            justify-content: space-around;
            align-items: center;
            .encuadro {
                text-align: center;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 30px;
                background-color: rgb(174, 182, 191);
                text-decoration: none;
                border: none;
                figure{
                    border-radius: 5px;
                    height: 250px;
                    width: 400px;
                    overflow: hidden;
                    transition: all .25s ease;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: none;
                        &:hover{
                            transform: none;
                        }
                    }
                }
                p {
                    &:hover{
                        color: rgb( 253, 254, 254 );
                    }
                }
            }
        }
    }
    .encuadro:hover {
        box-shadow: none;
        display: block;
        transform: none;
    }
    .genero {
        justify-content: space-between;
        .img__genero {
            height: 200px;
            width: 980px;
        }
    }
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
}

//@media (max-width: 768px) 
@media (max-width: 1199.98px) {
    /* CUERPO INDEX */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        .subtitle {
            text-align: center;
            font-family: 'Roboto';
            padding: 1rem 0;
            font-size: 2rem;
        }
        .divpadre {
            display: flex;
            row-gap: 2rem;
            justify-content: space-around;
            align-items: center;
            .encuadro {
                text-align: center;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 30px;
                background-color: rgb(174, 182, 191);
                text-decoration: none;
                border: none;
                figure{
                    border-radius: 5px;
                    height: 250px;
                    width: 400px;
                    overflow: hidden;
                    transition: all .25s ease;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                p {
                    &:hover{
                        color: rgb( 253, 254, 254 );
                    }
                }
            }
        }
    }
    .genero {
        justify-content: space-between;
        .img__genero {
            height: 200px;
            width: 728px;
        }
    }
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
}

//@media only screen and (max-width: 480px) 
@media (max-width: 991.98px) {
    /* CUERPO INDEX */
    .cuerpoPadre {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
        .subtitle {
            text-align: center;
            font-family: 'Roboto';
            padding: 1rem 0;
            font-size: 2rem;
        }
        .divpadre {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            justify-content: space-around;
            align-items: center;
            .encuadro {
                text-align: center;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 30px;
                background-color: rgb(174, 182, 191);
                text-decoration: none;
                border: none;
                figure {
                    transition: none;
                    img {
                        height: 100%;
                        width: 100%;
                        &:hover {
                            transform: none;
                        }
                    }
                }
            }
        }
        .genero {
            display: flex;
            justify-content: space-around;
            .img__genero {
                height: 150px;
                width: auto;
            }
        }
    }
    /* PAGINA - PRODUCTOS */
    .espacio {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "tienda"
        "tienda"
        "filtro"
        ;
        margin: 30px;
    }
    .subtitulo {
        text-align: center;
    }
    .filtro__color {
        width: 100%;
    }
    .filtro__talle {
        display: flex;
        justify-content: space-around;
    }
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
}
@media (max-width: 767.98px) {
    .w-100 {
        padding: 0 10%;
        width: 20% !important;
        margin: 0 35%;
    }
    .carousel-item {
        width: none !important;
        padding-left: none !important;
    }
}