.espacio {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "filtro tienda tienda"
    "filtro tienda tienda"
    "filtro tienda tienda"
    ;
    margin: 30px;
    .tienda {
        display: flex;
        flex-direction: column;
        grid-area: tienda;
        .tiendaCuerpo {
            display: flex;
            flex-wrap: wrap;
            flex-direction: start;
            justify-content: center;
            .encuading {
                display: inline-block;
                width: 200px;
                margin: 10px 10px 10px 10px;
                padding: 5px 5px 30px 5px;
                border: solid 3px rgb(0, 0, 0);
                border-style: groove;
                .text {
                    font-family: 'Roboto';
                    text-align: center;
                }
                .precio{
                    font-family: 'Roboto';
                    text-align: center;
                    color: rgb(171, 178, 185);
                }
            }
        }
        .cotitulo {
            display: flex;
            justify-content: center;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 2rem;
        }
    }
    .filtros {
        display: flex;
        flex-direction: column;
        color: rgb(44, 62, 80);
        grid-area: filtro;
        padding-top: 1rem;
        box-shadow: rgb(0, 0, 0);
        .filtro__Despl {
            display: flex;
            justify-content: flex-start;
        }
        .separador {
            padding: 25px 0 40px 0;
        }
        .subtitulo {
            border-bottom: solid 1px rgb(44, 62, 80);
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        } 
        .style {
            color: rgb(44, 62, 80);
            text-align: center;
            text-align: left;
            a {
                text-decoration: none;
                font-size: 20px;
            }
        }
        .filtro__Despl, .filtro__DesplAct {
            display: none;
        }
    }
}
